@{
	ViewBag.Title = "DownloadFace";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model List<API.DAL.Entity.Models.Media_file>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head runat="server">
	<link href="~/css/Download.css" rel="stylesheet" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
	
	
	<script src="~/js/DW/DWsendDelete.js" defer></script>
	<script src="~/js/DW/File-Modal-window.js" defer></script>
	<script src="~/js/DW/Tables.js" defer ></script>

</head>
<div class="lable-page">

	<p>My Files</p>
	<input placeholder="Поиск по имени" type="text" class="common-elastic" id="common-elastic">

</div>

<div class="main-content" id="main-content">
	
	
		
		
	    <table class="main-table" id="table-file">

				<thead>
					<tr>
				<th data-type="string" title="true">Имя файла</th>
				<th data-type="string" title="true">Формат</th>
				<th data-type="string" title="true">Тип</th>
				<th data-type="string" title="true">Действия</th>
					</tr>

				</thead>
		@if(ViewBag.Med != null)
		{
			@foreach (var item in ViewBag.Med)
			{
				<tbody>
					<tr id="@item._id">
						<td id="item">@item.name</td>
						<td>Медиа файл</td>
						<td>@item.mime_type</td>
						<td><button id="button" value="@item._id/Med">Удалить</button></td>
					</tr>
				</tbody>

			}
		}
		@if (ViewBag.Ad != null)
		{
			@foreach (var item in ViewBag.Ad)
			{
				<tbody>
					<tr id="@item._id">
						<td id="item">@item.name</td>
						<td>Рекламный файл</td>
						<td>@item.mime_type</td>
						<td><button id="button" value="@item._id/Ad">Удалить</button></td>
					</tr>
				</tbody>

			}
		}
		
		</table>
		
	


	
</div>

@if(ViewBag.Role == "admin")
{
	<div class="added-Content">
		<button id="btn" class="btn" data-path="one">dowload file!</button>
		<div class="modal-overlay" id="modal-overlay">
			<div class="modal-window" data-target="one">
								
					<div>
						<div class="window-title">
							<p>Важная информация по загрузке!</p>
							<input  name="role" type="file" style="visibility:hidden" value="@ViewBag.Role" accept=".mp4" >
							<p>
								Загружать файлы можно только формата:
								.mp4 (video), audio/mp4.
							</p>
							<input id="MyFile" type="file" name="file" onchange="upload(this)">
							<br>
							<br />
							<br />
							<br>
							<h3>Выберете тип файла</h3>
							<select id="option" name="ad" data-role="@ViewBag.Role">
								<option value="false">
									Обычный
								</option>								
							</select>							
							<br>
							<br>
							<button id="load"> Send </button>
						</div>


					</div>
				
				
			</div>
		</div>
	</div>
	
}
else
{
	<div class="added-Content">
		<button id="btn" class="btn" data-path="one">dowload file!</button>
		<div class="modal-overlay" id="modal-overlay">
			<div class="modal-window" data-target="one">
				<form asp-controller="Download" asp-action="DownloadFace" method="post" enctype="multipart/form-data" runat="server">
					<div>
						<div class="window-title">
							<p>Важная информация по загрузке!</p>
							<input name="role" type="text" style="visibility:hidden" value="@ViewBag.Role">
							<p>
								Загружать файлы можно только формата:
								.mp4 (video), audio/mp4.
							</p>
							<input type="file" name="file">
							<br>							
							<br />
							<br />
							<br>
							<h3>Выберете тип файла</h3>
							<select id="option" name="ad" data-role="@ViewBag.Role">
								<option value="false">
									Обычный
								</option>
								<option value="true">
									Рекламный
								</option>
							</select>							
							<br>
							<br>
							<button id="load" type="submit"> Send </button>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
}

<div id="loading" class="loading">
	<p>
		Loading!
	</p>
	<br />
	<div class="modal-create-divece">
		<div class="bar">
			<div id="progress" class="progress">
				<p id="progressProcent"></p>
			</div>
		</div>
	</div>
	
</div>

