@using MongoDB.Bson;
@{
	ViewBag.Title = "DevicesEdit";
	Layout = "/Views/Shared/_Layout.cshtml";
}


<head>
	<link href="~/css/DE/DeviceEdit.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
	<script src="jquery-1.10.1.min.js" defer></script>
	<script src="~/js/DE/DeviceEdit.js" defer></script>
</head>
@model API.DAL.Entity.ResponceModels.DeviceResponce
@if (Model != null)
{

	<div class="content-title">
		<h2>Девайс редактор</h2>
	</div>
	<div id="device-content" class="device-main">
		
			<div class="device-date">
				<div class="device-date-params">
					<div class="param-elem-head">Id:</div>
					<div id="id" class="param-elem-body">@Model.id</div>
				</div>
				<div class="device-date-params">
					<div class="param-elem-head">Название</div>
					<div  class="param-elem-body">
					<div id="name" class="data">
						@Model.name
					</div>						
						<div class="controls">
						<input class="control-input" style="visibility:hidden" type='text'>
						<button class="date-btn" style="pointer-events: none;visibility:hidden" id="cancel">Отменить</button>
						<button  class="date-btn" id="edit">Изменить</button>
						<button class="date-btn" style="pointer-events: none; visibility:hidden" id="apply">Применить</button>
						</div>					
					</div>
					
				</div>
				<div class="device-date-params">
					<div class="param-elem-head">Адресс</div>
					<div class="param-elem-body">
					<div id="address" class="data">
						@Model.address
					</div>						
					<div class="controls">
						<input class = "control-input" style="visibility:hidden" type='text'>
						<button class="date-btn" style="pointer-events: none;visibility:hidden" id="cancel">Отменить</button>
						<button class="date-btn" id="edit">Изменить</button>
						<button class="date-btn" style="pointer-events: none;visibility:hidden" id="apply">Применить</button>
					</div>
				</div>
					
				</div>
				<div class="device-date-params">
					<div class="param-elem-head">Выбранный плейлист</div>
					<div class="param-elem-body">
						<select id="m-PlayList">
						@if (ViewBag.Plalists.Count != 0 || ViewBag.PublicPlaylist.Count != 0)
						{
							@foreach (var playlist in ViewBag.Plalists)
							{
								<option value="@playlist._id">@playlist.name</option>
							}
							@foreach (var playlist in ViewBag.PublicPlaylist)
							{
								<option value="@playlist._id">@playlist.name</option>
							}
						}
						else
						{
							<option value="none">У вас здесь пока ничего нет</option>
						}
					</select>
					</div>
				</div>
				<div class="device-date-params">
					<div class="param-elem-head">Выбранный плейлист рекламы</div>
					<div class="param-elem-body">
						<select id="a-PlayList">
						@if (ViewBag.AdPlaylust.Count != 0)
						{
							@foreach (var adplaylist in ViewBag.AdPlaylust)
							{
								<option value="@adplaylist._id">@adplaylist.name</option>
							}
						}
						else
						{
							<option value="none">У вас здесь пока ничего нет</option>
						}

						</select>
					</div>
				</div>
			</div>
			<div class="time">
				<div class="time-title">
					<h2>Настройка работы девайса</h2>
				</div>
				<div>
					<table class="day-monitoring-table">
						<thead>
							<tr>
								<th>День недели</th>
								<th>Режим работы от и до</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var day in Model.intervals)
							{
								<tr id="list-Day">
									<td>@day.day</td>
								<td class="table-edit-td" id="selectors">
									<select  id="from">
										<option value="none">Выберите час</option>
										<option value="7:00">7:00</option>
										<option value="8:00">8:00</option>
										<option value="9:00">9:00</option>
										<option value="10:00">10:00</option>
										<option value="11:00">11:00</option>
										<option value="12:00">12:00</option>
										<option value="13:00">13:00</option>
										<option value="14:00">14:00</option>
										<option value="15:00">15:00</option>
										<option value="16:00">16:00</option>
										<option value="17:00">17:00</option>
										<option value="18:00">18:00</option>
										<option value="19:00">19:00</option>
										<option value="20:00">20:00</option>
										<option value="21:00">21:00</option>
										<option value="22:00">22:00</option>
										<option value="23:00">23:00</option>
									</select>
									<p>@day.from - @day.to</p>  
									<select id="to">
										<option value="none">Выберите час</option>
										<option value="7:00">7:00</option>
										<option value="8:00">8:00</option>
										<option value="9:00">9:00</option>
										<option value="10:00">10:00</option>
										<option value="11:00">11:00</option>
										<option value="12:00">12:00</option>
										<option value="13:00">13:00</option>
										<option value="14:00">14:00</option>
										<option value="15:00">15:00</option>
										<option value="16:00">16:00</option>
										<option value="17:00">17:00</option>
										<option value="18:00">18:00</option>
										<option value="19:00">19:00</option>
										<option value="20:00">20:00</option>
										<option value="21:00">21:00</option>
										<option value="22:00">22:00</option>
										<option value="23:00">23:00</option>
									</select>
								</td>
								</tr>
							}
						</tbody>
					</table>
					
				</div>
				
				
		</div>
	</div>
			

	<div class="added-Content">
		<button id = "btn-Save"class="btn">Применить</button>
	</div>
}


