@{
    ViewBag.Title = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@model API.DAL.Entity.Models.Media_Ad_playlist
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link href="~/css/PL/Edit.css" rel="stylesheet" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/js/PL/Tables-Face.js" defer></script>
    <script src="~/js/PL/Time-Input.js" defer></script>
</head>


<div class="menu-board">
    <h2 id="main" data-name="@Model.name" title="@Model._id">@Model.name</h2>
    <input placeholder="Поиск по имени" type="text" id="elastic">
    

</div>
<div class="lable-page" id="lable-page">
    <table class="main-table-playlist" id="table" title="Ad">
        <thead>
            <tr>
                <th data-type="string" title="true">
                    Добавлен ли в плей лист
                </th>
                <th data-type="string" title="true">
                    Название
                </th>
                <th data-type="string" title="true">
                    Тип
                </th>
                <th data-type="string" title="true">
                    Публичность
                </th>
                <th data-type="string" title="true">
                    Время воспроизведения
                </th>
                <th data-type="string" title="true">
                    Интервалы
                </th>
            </tr>
        </thead>
        <tbody id="source-list">
            @if (ViewBag.Enabled_File != null && ViewBag.Disable_File != null)
            {
                if (ViewBag.Enabled_File.Count > 0 || ViewBag.Disable_File.Count > 0)
                {
                    @foreach (var item in ViewBag.Enabled_File)
                    {
                        <tr class="enable_row" data_Id="@item._id/Ad">
                            <td>
                                <div class="btn-barter-disable" id="btn-barter" data_state="true" title="Удалить"></div>
                            </td>
                            <td>
                                <p id="item">@item.name</p>
                            </td>
                            <td>
                                <p>@item.mime_type</p>
                            </td>
                            <td>
                                <p>Приватный</p>
                            </td>
                            <td>
                                <input title="Укажите время в формате" id="time" name="time" value="@Model.ad_files.Find(a => a.file ==item._id.ToString()).start_time" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                <span id="textInpute">OK</span>
                            </td>
                            <td>
                                @if (Model.ad_files.Find(a => a.file == item._id.ToString()).interval == null)
                                {
                                    <input id="checkBox" type="checkbox">
                                    <input title="Укажите количество минут" id="interval" disabled name="time" value="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                    <span id="textInterval">Status</span>
                                }
                                else
                                {
                                    <input id="checkBox" type="checkbox" checked>
                                    <input title="Укажите количество минут" id="interval" name="time" value="@Model.ad_files.Find(a => a.file == item._id.ToString()).interval" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                    <span id="textInterval">OK</span>
                                }

                            </td>
                        </tr>
                    }


                    @foreach (var item in ViewBag.Disable_File)
                    {
                        <tr class="disable_row" data_Id="@item._id/Ad">
                            <td>
                                <div class="btn-barter-enable" id="btn-barter" data_state="false" title="Добавить"></div>
                            </td>
                            <td>
                                <p id="item">@item.name</p>
                            </td>
                            <td>
                                <p>@item.mime_type</p>
                            </td>
                            <td>
                                <p>Приватный</p>
                            </td>
                            <td>
                                <input disabled  title = "Укажите время в формате 07:00-23:59" id="time" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                <span id="textInpute">Status</span>
                            </td>
                            <td>                                
                                    <input disabled id="checkBox" type="checkbox">
                                    <input title="Укажите количество минут" disabled id="interval" name="time" value="" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                <span id="textInterval">Status</span>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="disable_row" data_Id="none">
                        <td colspan="5"><p>Здесь ничего нет</p></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
<div class="added-Content">
    <button class="save" id="save">Save</button>
</div>