@{
	ViewBag.Title = "Edit";
	Layout = "/Views/Shared/_Layout.cshtml";
}
@model API.DAL.Entity.Models.Media_playlist
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
	<link href="~/css/PL/Edit.css" rel="stylesheet" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
    <script src="~/js/PL/Tables-Face.js" defer></script>
</head>


<div class="menu-board">
    <input placeholder="Поиск по имени" type="text" id="elastic">
    <h2 id ="main"title="@Model._id">@Model.name</h2>
    <button class="save" id="save">Save</button>
</div>
<div class="lable-page">

    <table class="main-table-playlist">
        <thead>
            <tr>
                <th data-type="string" title="true">
                    Добавлен ли в плей лист
                </th>
                <th data-type="string" title="true">
                    Название
                </th>
                <th data-type="string" title="true">
                    Тип
                </th>
                <th data-type="string" title="true">
                    Публичность
                </th>
            </tr>
        </thead>
        <tbody id="source-list">
            @if(ViewBag.Enabled_File != null)
            {
                @foreach (var item in ViewBag.Enabled_File)
                {
                    <tr title="@item._id">
                        <td>
                            <button id="btn-barter" value="true">-</button>
                        </td>
                        <td>
                            <p id="item">@item.name</p>
                        </td>
                        <td>
                            <p>@item.mime_type</p>
                        </td>
                        <td>
                            <p>@item.is_public</p>
                        </td>
                    </tr>
                }
            }
            
            @if (ViewBag.Disable_File != null)
            {
                @foreach (var item in ViewBag.Disable_File)
                {
                    <tr title="@item._id">
                        <td>
                            <button id="btn-barter" value="false">+</button>
                        </td>
                        <td>
                            <p id="item">@item.name</p>
                        </td>
                        <td>
                            <p>@item.mime_type</p>
                        </td>
                        <td>
                            <p>@item.is_public</p>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>
<div class="added-Content">
	<button class="btn" id="load"> Send </button>
</div>