@{
	ViewBag.Title = "PlayLists";
	Layout = "/Views/Shared/_Layout.cshtml";
}
@model List<API.DAL.Entity.Models.Media_playlist>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
	<link href="~/css/PL/PlayList-Face.css" rel="stylesheet" asp-append-version="true" />
	<script src = "~/js/PL/ShowBox.js" defer></script>
	<script src="~/js/PL/Tables-Face.js" defer></script>
</head>
<div class="main-content">
	@if (ViewBag.Answer != null)
	{
		<div id="message" title="@ViewBag.Answer"></div>

	}
	else
	{
		<div id="message"></div>
	}

	@if (Model == null)
	{
		<h2>@ViewBag.Exaption</h2>

	}
	else
	{


		<table class="main-table" id="table">

			<thead>
				<tr>
					<th>Имя плейлиста</th>
					<th>Публичность</th>
					<th>Редактор</th>
					<th>Удалить</th>
				</tr>

			</thead>
			@foreach (var item in Model)
			{
				<tbody>
					<tr id="@item._id">
						<td>@item.name</td>
						<td>@item.is_public</td>
						<td><a href="/Web/PlayLists/Edit/?Id=@item._id">Редактировать</a></td>
						<td><button id="button-delete" value="@item._id">Удалить</button></td>
					</tr>
				</tbody>

			}
		</table>

	}



</div>
<div class="added-Content">
	<button id="btn" class="btn" data-path="one">Create playlist</button>
	</div>

	<div class="modal-overlay" id="modal-overlay">
		<div class="modal-window" data-target="one">
			<form asp-controller="PlayLists" asp-action="CreatePlaylist" method="post" >
				<div>
					<div class="window-title">
						<p>Меню создания плэй листа</p>
						
						<input type="text" name="name">
						<label for="name">Имя плэй листа</label>
						<br>
						<input type="radio" id="is-private" name="is_public" value="false" />
						<label for="public">Создать как приватный</label>
						<br>
						<input type="radio" id="is-public" name="is_public" value="true" />
						<label for="public">Создать как публичный</label>						
						<br>
						
						<button id="load" type="submit"> Send </button>
					</div>


				</div>
			</form>
		</div>
	</div>
</div>
<div id="loading" class="loading">
	Loading!
</div>