@{
	ViewBag.Title = "PlayLists";
	Layout = "/Views/Shared/_Layout.cshtml";
}
@model List<API.DAL.Entity.Models.Media_playlist>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
	<link href="~/css/PL/PlayList-Face.css" rel="stylesheet" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src = "~/js/PL/File-Modal-window.js" defer></script>	
	<script src = "~/js/PL/Send.js" defer></script>
</head>
<div class="lable-page">
	<p>My Playlist</p>
	<input placeholder="Поиск по имени" type="text" class="common-elastic" id="common-elastic">
</div>

<div class="main-content" id="playlist-content">
		<table class="main-table" id="table">

			<thead>
				<tr>
					<th>Имя плейлиста</th>
					<th>Публичность</th>
				    <th>Тип</th>
					<th>Редактор</th>
					<th>Удалить</th>
				</tr>

			</thead>
			@foreach (var item in ViewBag.Ad)
			{
				<tbody>
					<tr id="@item._id">
						<td id="item">@item.name</td>
						<td>Приватный</td>					    
					    <td>Рекламный</td>
						<td><a href="/Web/PlayLists/EditAd/?Id=@item._id">Редактировать</a></td>
						<td><button id="button-delete" value="@item._id/Ad">Удалить</button></td>
					</tr>
				</tbody>
			}
		@foreach (var item in ViewBag.Media)
		{
			<tbody>
				<tr id="@item._id">
					<td id="item">@item.name</td>
					<td>Приватный</td>
					<td>Медиа</td>
					<td><a href="/Web/PlayLists/Edit/?Id=@item._id">Редактировать</a></td>
					<td><button id="button-delete" value="@item._id/Med">Удалить</button></td>
				</tr>
			</tbody>
		}
		</table>

	



</div>
<div class="added-Content">
	<button id="btn" class="btn" data-path="one">Create playlist</button>
	</div>

	<div class="modal-overlay" id="modal-overlay">
		<div class="modal-window" data-target="one">		
				<div class="window-title">
					<h2 >Меню создания плэй листа</h2>
					<div class="div-name">
						<h3>Название плейлиста</h3>
						<input id ="playlist-name"type="text" name="name">
					</div>
					<h3>Дополнительные настройки</h3>
					<div class="div-type">
						<div>
							<select name="" id="is-public">
								<option value="true">Публиный</option>
								<option value="false">Приватный</option>
							</select>
						</div>
						<div>
							<select name="" id="playlist-type">
						<option value="true">Рекламный</option>
						<option value="false">Обычный</option>
							</select>
						</div>


					</div>
					<button id="save" type="submit"> Send </button>					
		</div>
	</div>
</div>
<div id="loading" class="loading">
	Loading!
</div>